<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#distriMenu" aria-expanded="true" aria-controls="distriMenu">
      <i class="fas fa-fw fa-people-carry"></i>
      <span>Distribution Mgmt</span>
    </a>
    <div id="distriMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="./web?action=manageItems">Manage</a>
        <a class="collapse-item" href="./web?action=createItem">Create New</a>
        <h6 class="collapse-header">Employee Distribution</h6>
        <a class="collapse-item" href="./web?action=issueItems">Issue Item</a>
      </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#EmployeeMenu" aria-expanded="true" aria-controls="EmployeeMenu">
      <i class="fas fa-fw fa-user-friends"></i>
      <span>Employee Mgmt</span>
    </a>
    <div id="EmployeeMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="./web?action=manageEmp">Manage</a>
        <a class="collapse-item" href="./web?action=createEmp">Create New</a>
      </div>
    </div>
</li>

  <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#EmployeeCollectionMenu" aria-expanded="true" aria-controls="EmployeeCollectionMenu">
        <i class="fas fa-hand-paper"></i>
        <span>Employee Collection</span>
      </a>
      <div id="EmployeeCollectionMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="./addPackage">Collect</a>
          <a class="collapse-item" href="cards.html">History</a>
        </div>
      </div>
  </li> -->