<script src="web/scripts/manageEmp.js"></script>
<div id="overlay">
    <div class="text text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage Employees</h1>
</div>

<div ng-app="mgmEmpApp" ng-controller="mgmEmpCtrl">
    <div class="col-lg-12">
        <div class="row">
            <div class="form-group col-lg-12 text-right" >
                <a href="#" class="btn btn-primary btn-icon-split btn-sm"  data-toggle="modal" data-target="#uploadIssueModal">
                    <span class="icon text-white-50">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="text">Upload</span>
                </a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" >
            <thead>
              <tr>
                <th>Name</th>
                <th>Department/Unit/Prj</th>
                <th>Employment Start Date</th>
                <th>Employment End Date</th>
                <th>Contact No.</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Department/Unit/Prj</th>
                <th>Employment Start Date</th>
                <th>Employment End Date</th>
                <th>Contact No.</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="employee in data.employees">
                <td>{{employee.EmpName}}<br/>({{employee.EmpID}})</td>
                <td>{{employee.EmpDep}}</td>
                <td>{{employee.EmpStartDate}}</td>
                <td>{{employee.EmpEndDate}}</td>
                <td>{{employee.EmpContact}}</td>
                <td>
                  <a href="#" class="btn btn-warning btn-icon-split btn-sm" ng-click="edit(employee.id)" data-toggle="modal" data-target="#editEmpModal">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="text">Edit</span>
                  </a>
                  <a href="#" class="btn btn-danger btn-icon-split btn-sm"  ng-click="deleting(employee.id)" data-toggle="modal" data-target="#deleteEmpModal">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>

    <!-- Delete confirm modal -->
    <div class="modal fade bd-example-modal-lg" id="deleteEmpModal" tabindex="-2" role="dialog" aria-labelledby="deleteEmpModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteEmpModalTitle">Delete Employee Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Confirm delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" ng-click="delete()" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Issue Modal -->
    <div class="modal fade bd-example-modal-lg" id="uploadIssueModal" tabindex="-2" role="dialog" aria-labelledby="uploadIssueModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="uploadIssueModalTitle">Upload New Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <p>
                                    Upload CSV file with new employees 
                                    <a href="#" class="btn btn-primary btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-download"></i>
                                        </span>
                                        <span class="text">Download Sample</span>
                                    </a>
                                </p>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="file" id="customFile" class="custom-file-input" file-model="empFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadFile()" data-dismiss="modal">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Employee Info Modal -->
    <div class="modal fade bd-example-modal-lg" id="editEmpModal" tabindex="-2" role="dialog" aria-labelledby="editEmpModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="editEmpModalTitle">Edit Employee Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Employee Name</label>
                                <input class="form-control" name="empName" ng-model="data.editEmployee.EmpName">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Employee No.</label>
                                <input class="form-control" name="empNo" ng-model="data.editEmployee.EmpID">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Department/Unit/Prj</label>
                                <input class="form-control" name="empDep" ng-model="data.editEmployee.EmpDep">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Employment Start</label>
                                <input class="form-control" type="text" datepicker="" ng-model="data.editEmployee.EmpStartDate" dp-format="yyyy-m-d" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Employment End</label>
                                <input class="form-control" type="text" datepicker="" ng-model="data.editEmployee.EmpEndDate" dp-format="yyyy-m-d" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Contact No.</label>
                                <input class="form-control" name="empContact" ng-model="data.editEmployee.EmpContact">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>